* {
    margin:0;
    padding:0;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0 !important;
}

#turn {
    margin: 0 0 5% 0;
}

#roller {
    float: left;
    width: 40%;
    margin-right: 5%;
}

#roller img {
    width: 100%;
}

.die {
    width: 30%;
    padding-bottom: 30%;
    margin: 1px;
    background-size: 99%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#dice {
    float: left;
    width: 55%;
}

#dice h3 {
    margin:0 0 5px 5px;;
}

.selected {
    opacity: .5;
}

#recent {
    clear:both;
    float: left;
    margin-top: 30px;
    color: red;
}